*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background: black;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 9em;
    height: 10em;
    text-align: center;
    border: 2px solid rgba(10, 10, 245, 0.76);
}
p{
    color: aliceblue;
    font-weight: 900;
    padding-top: 50%;
    font-size: 2em;
}